div#message
  background: $accent-green url("../img/message/cajas.jpg")

  h1
    color: #fff

  input, textarea
    font-size: 16px
    color: #fff
    border: 2px solid #fff
    border-radius: 3px
    background: none
    box-shadow: none

  textarea
    height: 82px
    max-height: 82px
    resize: none