main
  @import "home/slider"
  @import "home/compromise"
  @import "home/article"
  @import "home/pipeline"
  @import "home/message"

  div.read-more
    padding: 2em 3em
    text-align: right

@media screen and (max-width: 768px)
  main
    div.read-more
      padding: 2em 0
      text-align: center