nav
  font-size: 18px
  color: #fff
  text-shadow: $text-shadow-dark
  +absolute(0, 0, auto, 0)
  z-index: 1
  height: 56px
  line-height: 56px
  transition: background 300ms cubic-bezier(.17,.67,.83,.67), border 300ms cubic-bezier(.17,.67,.83,.67)

  div.container
    position: relative

  span
    font-family: "Museo Slab", sans-serif

  ul
    +absolute(0, auto, auto, 0)
    font-size: 0
    margin: 0
    padding: 0

  li
    padding: 0 12px
    font-weight: 700
    +inline-block(18px)

  li#nav-toggle
    display: none
    cursor: pointer

nav.fixed
  color: inherit
  text-shadow: none
  position: fixed
  background: #fff
  border-bottom: 1px solid $border-grey

@media screen and (max-width: 768px)
  nav
    ul
      height: 56px
      overflow: hidden
      left: 0

      li#nav-toggle
        display: block
        text-align: right

      li.nav-collapse
        line-height: 30pt
        font-size: 14px
        height: 0

    ul.expand
      height: auto

      li.nav-collapse
        transition: height 150ms cubic-bezier(.17,.67,.83,.67)
        height: 30pt

    li
      color: inherit
      display: block

    li.nav-collapse
      padding-right: 24px
      background-color: rgba(0,0,0,.5)

    li.nav-collapse:hover
      background-color: rgba(0,0,0,.7)

  nav.fixed
    ul
      border-bottom: 1px solid $border-grey

    li.nav-collapse
      color: inherit
      background-color: #fff
      text-shadow: none

    li.nav-collapse:hover
      color: $neutral-grey
      background-color: $light-grey
