nav
  font-size: 18px
  color: #fff
  +absolute(0, 0, auto, 0)
  z-index: 1
  height: 56px
  line-height: 56px

  div.container
    position: relative

    span
      font-family: "Museo Slab", sans-serif
      font-weight: 500

    ul
      +absolute(0, auto, auto, 0)
      font-size: 0
      margin: 0
      padding: 0

      li
        padding: 0 12px
        font-weight: 700
        +inline-block(18px)

nav.fixed
  color: #333
  position: fixed
  background: #fff
  border-bottom: 1px solid $border-grey
  transition: all 600ms cubic-bezier(.17,.67,.83,.67)

@media screen and (max-width: 990px)
  nav.fixed
    div.container

      div.label
        display: block

        span.green
          color: $accent-green

        span.blue
          color: $accent-blue

    ul.menu-items
      display: inline-block

      li.menu
        display: block !important

      li:not(.menu)
        display: none !important
