//Colors
$light-grey: rgb(240,240,240)
$border-grey: rgb(230,230,230)

$accent-blue: rgb(102,102,153)
$accent-green: rgb(99,126,83)

//Font Sizes
$font-size-small: 12pt
$font-size-regular: 14pt
$font-size-medium: 16pt
$font-size-large: 22pt

//Screens Dimensions
$large-screen: 1200px
$medium-screen: 1024px

//Stuff
$border-radius: 4px
$shadow-wide: 1px 2px 4px #000
$shadow-regular: 0px 1px 4px rgba(120,120,120,.5)

$shadow-font-dark: 1px 1px 3px #000